  * {
    margin: 0;
  }

  body {
    font-family: sans-serif;
    background-color: #A9A9A9;
    padding: 0 1rem;
  }

  .emphasis {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card {
    color: white;
    background-color: #36454F;
    width: 250px;
    padding: 1rem;
    border-radius: 10px;
    justify-self: center;
    margin: .75rem;
  }
  .card--darkness {
    background: #343434;
  }
  .card--death {
    background: #301934;
  }
  .card--fire {
    background: #D22B2B;
  }
  .card--gravity {
    background: #702963;
  }
  .card--life {
    background: #088F8F;
  }
  .card--light {
    background: #E97451;
  }
  .card--love {
    background: #FF33FF;
  }
  .card--metal {
    background: #808080;
  }
  .card--plague {
    background: #097969;
  }
  .card--psychic {
    background: #800080;
  }
  .card--speed {
    background: #7393B3;
  }
  .card--spirit {
    background: #00008B;
  }
  .card--water {
    background: #0047AB;
  }

  .card__top {
    display: flex;
  }

  .card__protocol {
    border: 1px solid white;
    border-right: 0;
    padding: 2px;
    align-self: start;
    min-width: 40%;
  }

  .card__power {
    font-size: 40px;
    border: 1px solid white;
    padding: 5px;
  }

  .card__box {
    border: 1px solid white;
    border-radius: 5px;
    margin: .25rem 0;
    height: 75px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
  }
  .card-box--opaque {
    background-color: #36454F;
    opacity: 90%;
  }

  /* Filters */

  input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    accent-color: black;
  }

  .filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .filters__filter {
    padding: 1rem;
    border: 2px solid black;
    margin: 1rem;
    align-self: stretch;
  }

  .filters__title {
    text-align: center;
  }

  .filters__btn-container {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .filters__btn {
    margin: .5rem;
    padding: .5rem;
    background-color: black;
    color: white;
    border: 2px solid black;
    outline: none;
    transition-duration: .35s;
  }
  .filters__btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
  }

  .filters__list {
    padding: 0;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }

  .filters__list-item {
    list-style-type: none;
    display: flex;
    align-items: center;
    /* margin: .5rem 0; */
  }
  .filters__list-item:hover {
    cursor: pointer;
  }

  .filters__input {
    margin-right: .5rem;
  }
  .filters__input:hover {
    cursor: pointer;
  }

  .filters__label {
    font-size: 18px;
  }
  .filters__label:hover {
    cursor: pointer;
  }

